{{> navbar}}

<div class="container well">
  <div class="col-md-7 col-sm-12">
    <img src="/images/gnar-car-van.png" class="img-repsonsive img-signup" alt="sign up for GnarCar" />
  </div>

  <div class="col-md-5 col-sm-12">
    <h2 class="signup-head">Sign Up</h2>
    {{#if msg}}
      <ul class="error-list">
        {{#each msg}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
    <form id="signup-form" class="signup-form" action="/signup" method="post">
      <div class="form-group username-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control {{#if msg.email}}error-outline{{/if}}" name="username" placeholder="Enter username..." />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control {{#if msg.email}}error-outline{{/if}}" placeholder="me@example.com" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Enter password..." />
      </div>
      <div class="form-group">
        <label for="confirm">Confirm Password:</label>
        <input type="password" name="confirm" class="form-control" placeholder="Confirm password..." />
      </div>
      <input type="submit" class="btn btn-info btn-lg btn-block" name="submit" value="Sign Up" />
      <a href="/login">Log In?</a>
<div class="container profile-wrap well">
  <!-- LEFT COLUMN -->
  <div class="col-md-5 col-md-offset-1">
    <h3>Update Profile</h3>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="col-md-5 col-md-offset-1">
    <h3>Add a Car</h3>

    <form id="add-car" action="/car/new" method="post">
      <div class="form-group">
       <label for="make" class="control-label">Car Make</label>
       <input type="text" class="form-control" placeholder="Make" name="make" />
      </div>

      <div class="form-group">
       <label for="model" class="control-label">Car Model</label>
       <input type="text" class="form-control" placeholder="Model" name="model" />
      </div>

      <div class="form-group">
        <label for="seats" class="radio-label"># of Seats</label>
        <input type="number" name="seats" value="1" min="1" />
      </div>

      <div class="form-group">
        <label for="skiracks" class="radio-label">Ski Racks</label>
        <div class="radio">
          <label>
            <input type="radio" name="skiracks" value="0" class="radio-btn" checked />
            <span class="radio-text">No</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="skiracks" value="1" class="radio-btn" />
            <span class="radio-text">Yes</span>
          </label>
        </div>
      </div>

      <div class="form-group">
      <label for="transmission" class="radio-label">Transmission</label>
        <div class="radio">
          <label>
            <input type="radio" name="transmission" value="1" class="radio-btn" checked />
            <span class="radio-text">AWD</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="transmission" value="2" class="radio-btn" />
            <span class="radio-text">4WD</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="transmission" value="3" class="radio-btn" />
            <span class="radio-text">FWD</span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="smoking" class="radio-label">Smoking</label>
        <div class="radio">
          <label>
            <input type="radio" name="smoking" value="0" class="radio-btn" checked>
            <span class="radio-text">No</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="smoking" value="1" class="radio-btn">
            <span class="radio-text">Yes</span>
          </label>
        </div>
      </div>

      <input type="submit" class="btn btn-info btn-block" name="submit" value="Add Car" />
    </form>
  </div>
</div>
