{{> navbar}}

<div class="container profile-wrap">
  <div class="col-md-5 col-md-offset-1">
    HI
  </div>
  <div class="col-md-5 col-md-offset-1">
    <h3>Car Details</h3>

    <div class="form-group">
     <label for="carMake" class="control-label">Car Make</label>
     <input type="text" class="form-control" placeholder="carMake" name="carMake">
    </div>

    <div class="form-group">
     <label for="carModel" class="control-label">Car Model</label>
     <input type="text" class="form-control" placeholder="carModel" name="carModel">
    </div>

    <div class="form-group">
      <label class="control-label">Transmission</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">AWD
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">4WD
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">FWD
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Smoking</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">No
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Yes
          </label>
        </div>
      </div>
    </div>
  </div>

</div>
