{{#if user}}
  {{> navbar}}
{{else}}
  {{> signupNavbar}}
{{/if}}

<div class="splash">
  <div class="logo">
    <img src="../images/gnarcar.png" alt="GnarCar Logo" />
    <h2>&nbsp;GnarCar</h2>
  </div>
</div>

<div class="content-block-one row">
  <div class="mainItems">
    <div class="col-md-4 col-sm-12">
      <h2>Driver</h2>
      <img class="smallpic" src="https://3d-car-shows.com/wp-content/uploads/2014/02/Isabella_Labock.jpg" alt="" />
      <h4>On your way to the mountains? Get your travel costs covered by sharing your ride!</h4>
    </div>
    <div class="col-md-4 col-sm-12">
      <h2>Rider</h2>
      <img class="smallpic" src="http://www.ultimate-ski.com/media/671439/selfdrive.jpg" alt="" />
      <h4>Is your car too small to get into snowy roads? No problem! Fellow skiers can take you there.</h4>
    </div>
    <div class="col-md-4 col-sm-12">
      <h2>Group</h2>
      <img class="smallpic" src="http://www.insidesocal.com/snow/files/2015/07/2014-11-13_Openingday_026.jpg" alt="" />
      <h4>Go with your group to the mountains without the hazzle of driving. Just enjoy the powder!</h4>
    </div>
  </div>
</div>

<div class="content-space-one">
  <div class="text-center">
    <!-- <h1>This separates content!</h1>
    <div class="page-break"></div>
    <p>Other information can go here</p> -->
  </div>
</div>

<div class="content-block-one">
  <div class="pageTitle">
    <h2>Top Current Destinations</h2>
  </div>

  <div class="currentDestinations materialCard media">
    <div class="media-left media-center">
      <img class="mountainImage media-object" src="http://powderskiingcolorado.com/wp-content/uploads/2011/02/arapahoe-basin.jpg" alt="Powder Skiing Colorado" />
    </div>
    <div class="media-body">
      <ul>
        <p>Mountain: Arapahoe Basin</p>
        <p>Departing: 11-04-2016</p>
        <p>From: Wooly Mammoth Parking Lot</p>
        <p>Time: 5:30 am</p>
        <a href="#" class="btn btn-default btn-sm">Join!</a>
      </ul>
    </div>
  </div>

  <div class="currentDestinations materialCard media">
    <div class="media-left media-center">
        <img src="http://powderskiingcolorado.com/wp-content/uploads/2011/02/arapahoe-basin.jpg" class="mountainImage" alt="Powder Skiing Colorado" />
    </div>
    <div class="media-body">
      <ul>
        <p>Mountain: Arapahoe Basin</p>
        <p>Departing: 11-04-2016</p>
        <p>From: Wooly Mammoth Parking Lot</p>
        <p>Time: 5:30 am</p>
        <a href="#" class="btn btn-default btn-sm">Join!</a>
      </ul>
    </div>
  </div>

  <div class="currentDestinations materialCard media">
    <div class="media-left media-center">
      <img src="http://powderskiingcolorado.com/wp-content/uploads/2011/02/arapahoe-basin.jpg" class="mountainImage" alt="Powder Skiing Colorado" />
    </div>
    <div class="media-body">
      <ul>
        <p>Mountain: Arapahoe Basin</p>
        <p>Departing: 11-04-2016</p>
        <p>From: Wooly Mammoth Parking Lot</p>
        <p>Time: 5:30 am</p>
        <a href="#" class="btn btn-default btn-sm">Join!</a>
      </ul>
    </div>
  </div>
</div>
