{{#if user}}
  {{> navbar}}
{{else}}
  {{> signupNavbar}}
{{/if}}

<div class="splash">
  <div class="logo">
    <div class="logo-img">
      <img  class="logo-img" src="/images/GnarCar.svg" alt="GnarCar Logo" />
      <h2><img class="main-img" src="/images/gnarcar-text.png" alt="GnarCar Rides"></h2>
    </div>
  </div>
</div>

<div class="content-block-one row">
  <div class="mainItems">
    <h3 class="headliner"><strong>Sick of driving up to the mountains alone? Sick of not being able to take advantage of the snow because you don't have a ride up to the mountains? GnarCar is a ride sharing app that allows users to share or join rides heading up the mountains.</strong></h3>
    <div class="col-md-4 col-sm-12">
      <img class="smallpic" src="https://3d-car-shows.com/wp-content/uploads/2014/02/Isabella_Labock.jpg" alt="" />
      <h4>On your way to the mountains? Get your travel costs covered by sharing your ride!</h4>
    </div>
    <div class="col-md-4 col-sm-12">
      <img class="smallpic" src="http://www.ultimate-ski.com/media/671439/selfdrive.jpg" alt="" />
      <h4>No Car? No problem! Fellow skiers can take you there.</h4>
    </div>
    <div class="col-md-4 col-sm-12">
      <img class="smallpic" src="http://www.insidesocal.com/snow/files/2015/07/2014-11-13_Openingday_026.jpg" alt="" />
      <h4>Meet fellow skiers and let GnarCar do the planning. Just enjoy the ride!</h4>
    </div>
  </div>
</div>

<div class="content-space-one">
  <div class="text-center">
    <!-- background in parallax goes here -->
  </div>
</div>

<div class="pageTitle">
  <h2>Top Current Destinations</h2>
</div>

{{> mountainInfo}}
