<nav class="navbar navbar-default loginNav" role="navigation">
  <div class="container signin-form">
    <div class="navbar-header">
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="username">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="password">
        </div>
        <button type="submit" class="btn btn-default">Sign In</button>
      </form>
    </div>
  </div>
</nav>

<div id="startchange"></div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://static.pexels.com/photos/1377/snow-mountains-winter-sport-large.jpg" alt="..." width="100%">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="https://blog.ktm.com/wp-content/uploads/2014/03/Fuller-snow-1.jpg" alt="..." width="100%">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="https://static.pexels.com/photos/30313/pexels-photo-30313-large.jpg" alt="..." width="100%">
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="content-block-one">
  <h1>This is a content block</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="content-space-one">
  <div class="text-center">
    <h1>This separates content!</h1>
    <div class="page-break"></div>
    <p>Other information can go here</p>
  </div>
</div>
<div class="content-block-one">
  <h1>This is a content block</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="content-space-two">
  <div class="text-center">
    <h1>This separates content!</h1>
    <div class="page-break"></div>
    <p>Other information can go here</p>
  </div>
</div>
<div class="content-block-one">
  <h1>This is a content block</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
