
{{> navbar}}

<div class="containter profile-wrap">
   <div class="col-md-7 col-md-offset-1">
      <div class="media">
         <div class="media-left">
            <a href="#">
            <img class="media-object" src="https://www.gravatar.com/avatar/sdfsdfsdf?s=180" alt="...">
            </a>
         </div>
         <div class="media-body">
            <h1 class="media-heading">{{user.username}}</h1>
               <h4>Bio</h4>
               <p>
                  jdsfng kfjdgnvjksfnv kjs
               </p>
               {{#if loggedIn}}
                 <div class="button">
                    <a class="btn btn-info" href="/users/{{user.username}}/edit" role="button">Edit</a>
                    <a class="btn btn-info" href="/logout" role="button">Logout</a>
                 </div>
               {{/if}}
            </div>
         </div>
      </div>

      <div class="col-md-4">
        <h3>Rides</h3>
     </div>
</div>
