<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="#">
                </div>
                <div class="info">
                    <div class="username">USERNAME</div>
                      <br>
                    <div class="rating">Rating</div>
                      <br>
                    <div class="#">User Bio:</div>
                    <br>
                    <div class="bio">
                      <p>sdnfjsndgkdfjdnsvxcnv dkfjnjksdkjfnsjn vfjnvjfknvdfjnvdfkjnv</p>
                    </div>
                </div>
              <button type="button" class="btn btn-primary" >Edit</button>
            </div>

        </div>

	</div>
</div>
