{{> navbar}}

<div class="containter">
  <div class="col-md-7 col-md-offset-1">
    <h1>Hi, {{user}}</h1>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <h1>Hi, {{user.email}}</h1>
  </div>

</div>
