{{> navbar}}

<div class="pageTitle">
  <h1>Destination Mountain {{title}}</h1>
  <h1>Driver {{data.[0].username}}</h1>

  <!-- <img src="{{data.[0].image_url}}" alt="" /> -->
  <!-- <h3>Driver rating {{}}</h3> -->
  <h2>Departure date and time</h2>
  <h2>Cost</h2>
  <h2>Meetup Location</h2>
  <h2>Smoking Y/N</h2>
</div>
