{{> navbar}}

<div class="container well">
  <div class="col-md-7 col-sm-12">
    <img src="/images/gnar-car-van.png" class="img-repsonsive img-signup" alt="sign up for GnarCar" />
  </div>

  <div class="col-md-5 col-sm-12">
    <h2 class="signup-head">Sign Up</h2>
    {{#if msg}}
      <ul class="error-list">
        {{#each msg}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
    <form id="signup-form" class="signup-form" action="/signup" method="post">
      <div class="form-group username-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control {{#if msg.email}}error-outline{{/if}}" name="username" placeholder="Enter username..." />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control {{#if msg.email}}error-outline{{/if}}" placeholder="me@example.com" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Enter password..." />
      </div>
      <div class="form-group">
        <label for="confirm">Confirm Password:</label>
        <input type="password" name="confirm" class="form-control" placeholder="Confirm password..." />
      </div>
      <input type="submit" class="btn btn-info btn-lg btn-block" name="submit" value="Sign Up" />
      <a href="/login">Log In?</a>
    </form>
  </div>
</div>
