body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

.navbar-form{
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: -15px;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

.container, .signin-form {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
}

.caroussel-inner {
  height: 10em;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  width: auto;
  max-height: 540px;
}

.mainItems {
  display: flex;
  text-align: center;
}

.smallpic {
  max-width: 300px;
  height: 200px;
}

.loginNav {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  border-radius: 0px;
  z-index: 10007;
}
.content-block-one {
  /*display: flex;
  align-self: auto;*/
  padding: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
}
.content-block-one h1,
.content-block-one .h1 {
  color: inherit;
}
.content-block-one p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.content-block-one > hr {
  border-top-color: #d5d5d5;
}
.container .content-block-one {
  border-radius: 6px;
}
.content-block-one .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .content-block-one {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .content-block-one {
    padding-right: 60px;
    padding-left: 60px;
  }
  .content-block-one h1,
  .content-block-one .h1 {
    font-size: 63px;
  }
}
.content-space-one {
  /*padding: 0px;*/
  margin-bottom: 0px;
  color: inherit;
  background: url(https://skimap.org/data/510/7/1209336166.jpg) repeat center center fixed;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 100px;
}

.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

/*Mountain.hbs*/

.mountainInfo{
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.mountainImage {
  height: 200px;
  width: auto;
}

.currentDestinations {
  display: flex;
  margin-bottom: 20px;
}

.materialCard {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
