body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  /*padding-top: 59px;*/
}

h1,h2,h3 {
  font-family: 'Oswald', sans-serif;
}

h4,h5,h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.loginNav {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  border-radius: 0px;
  z-index: 10007;
}

/*.navbar-default {
}*/

.navbar-form{
  padding-left: 5px;
  padding-right: 0;
  margin-right: 0;
  margin-left: -15px;
}

.nav.navbar-nav{
  padding-left: 0;
}

.signin-form {
  display: flex;
  justify-content: flex-end;
}

/*.container, .signin-form {
  padding-right: 0;
  padding-left: 0;
}*/

.caroussel-inner {
  height: 10em;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  width: auto;
  max-height: 540px;
}

.mainItems {
  text-align: center;
}

.smallpic {
  max-width: 300px;
  height: 200px;
}

.content-block-one {
  padding: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
}
.content-block-one h1,
.content-block-one .h1 {
  color: inherit;
}
.content-block-one p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.content-block-one > hr {
  border-top-color: #d5d5d5;
}
.container .content-block-one {
  border-radius: 6px;
}
.content-block-one .container {
  max-width: 100%;
}

@media (max-width: 991px) {
    form {
      display: block;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        /*float: none!important;*/
        margin: 7.5px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }

    .collapsing {
        overflow: hidden!important;
    }
}

@media screen and (min-width: 768px) {
  .content-block-one {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .content-block-one {
    padding-right: 60px;
    padding-left: 60px;
  }
  .content-block-one h1,
  .content-block-one .h1 {
    font-size: 63px;
  }
}
.content-space-one {
  /*padding: 0px;*/
  margin-bottom: 0px;
  color: inherit;
  background: url(https://skimap.org/data/510/7/1209336166.jpg) repeat center center fixed;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 100px;
}

.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

/*signedInUser.hbs*/

.pageTitle {
  padding: 20px 0 20px 40px;
}

.destinationList {
  padding-left: 40px;
}

.currentDestinations {
  margin-bottom: 20px;
  width: 80%;
  padding-left: 40px;
}

.currentRides {
  margin-bottom: 30px;
}

/*Mountain.hbs*/

.mountainInfo{
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.mountainImage {
  display: flex;
  height: 200px;
  width: auto;
  max-width: 250px;
}
.materialCard {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
